#root {
    display: flex;
    justify-content: center;
}

.calendar {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 480px;
    font-size: 20px;
}

.switcher {
    display: flex;
    justify-content: space-between;
}

.switcher > button {
    font-size: inherit;

    width: 8%;
    min-width: 24px;
    aspect-ratio: 1;
}

.switcher > select {
    width: 100%;
    font-size: inherit;
}

.month {
    display: flex;
    flex-direction: column;
}

.weeks {
    touch-action: none;
}

.days-of-week {
    display: flex;
    flex-direction: row;

    font-weight: bold;
}

.week {
    display: flex;
    flex-direction: row;
}

.weekend {
    color: #d10000;
}

.day {
    outline: none;
    border: none;
    cursor: pointer;
    font-size: inherit;
}

.day.selected {
    background-color: #aad8e6;
}

.day.pointed {
    background-color: #e6e6e6;
}

@media (hover: hover) {
    .day:hover, .day.selected:hover {
        background-color: #e6e6e6;
    }
}

.cell {
    width: 14.3%;
    aspect-ratio: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
}
