body {
    font: 14px;
}

.week:after {
    clear: both;
    content: "";
    display: table;
}

.day {
    float: left;
    height: 34px;
    width: 34px;
}

.day.selected {
    background-color: cyan;
}

.counters__selected {
    color: cyan;
}

.counters__unselected {
    color: black;
}

.calendar {
    display: flex;
    flex-direction: column;
}
